<div class="container">
    <div class="homePageHeader">
        <h3>[G5-G7] Math-Test / Grocery-MGT / Event-MGT</h3>
        <h5>
            Express / Node JS / bcrypt / JSON File Storage / React / Angular
        </h5>
    </div>
    <hr />
    <p></p>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <div class="titleHeader">
                    <b>Login / Register</b>
                </div>
                <p></p>
                <div class="titleBody">
                    <ul class="homeMathTest">
                        <li>
                            User can create Account by Registering with UserName, Password and Parent's Email Address
                        </li>
                        <li>
                            User should Login with valid UserName and Password to access <u><b>Math-Test and My-Events Module </b></u>
                        </li>
                        <li>
                            After successfully completion of any Math-Test, User's Parent will receive Test's Result by Email
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
            <div>
                <div class="titleHeader">
                    <b>Grocery-MGT</b>
                </div>
                <p></p>
                <div class="titleBody">
                    <ul>
                        <li>Create Grocery List</li>
                        <li>Create New Item for Grocery List</li>
                        <li>Add Item To Grocery List By Check In</li>
                        <li>Remove Item From Grocery List By Check Out</li>
                    </ul>
                </div>
                <p></p>
            </div>
            <div>
                <div class="titleHeader">
                    <b>Event-MGT</b>
                </div>
                <p></p>
                <div class="titleBody">
                    <ul>
                        <li>User can Create/View/Edit and Delete Event</li>
                        <li>User can View Events for Today, Current Week or Current Month</li>
                    </ul>
                </div>
                <p></p>
                <hr />
            </div>
        </div>

        <div class="col-sm-5">
            <div>
                <div class="titleHeader">
                    <b>Math-Test</b>
                </div>
                <p></p>
                <div class="titleBody">
                    <ul class="homeMathTest">
                        <li>
                            Every Question, Correct Answer and 2 Wrong Answers are generating dynamically
                        </li>
                        <li>
                            Every Time Questions are Different
                        </li>
                        <li>
                            Kids can experience real Math Calculation Problems
                        </li>
                    </ul>
                    <p></p>
                    <ul>
                        <li>
                            Addition [2 Digits by 2 Digits]
                        </li>
                        <li>
                            Addition [Decimal]
                        </li>
                        <li>
                            Minus [2 Digits by 2 Digits]
                        </li>
                        <li>
                            Minus [1 Digit by 2 Digits]
                        </li>
                        <li>
                            Minus [Decimal]
                        </li>
                        <li>
                            Multiply [2 Digits by 2 Digits]
                        </li>
                        <li>
                            Multiply [Decimal]
                        </li>
                        <li>
                            Division [2 Digits by 1 Digit]
                        </li>
                    </ul>
                </div>
                <p></p>
                <hr />
            </div>
        </div>
    </div>
</div>