.eventContainer {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}

.eventContent{
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: lightskyblue;
}

.eventTime { 
    color: red;
    font-size: large;    
}

.pageControl { 
    padding: 20px;
}
.nextPageBtn { 
    text-align: right;
}