<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="groceryListHeader">
            <h3>Grocery List</h3>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<p></p>
<div class="groceryListHeaderDetails">
    <div >
        <div>
            <div class="card-body">
                <form 
                    [formGroup]="formEntry">
                    <div class="form-group">   
                        <div class="row">
                            <div class="col-sm-3 formControl">
                                <select formControlName="Category" class="form-control" (change)="changeCategory($event)">
                                    <option value="">---Select Category---</option>
                                    <option value={{c}} *ngFor="let c of categories">
                                        {{c}}
                                    </option>
                                </select>
                                <p></p>
                                <input type="text" formControlName="ItemName" class="form-control" />
                            </div>
                            <div class="col-sm-6 formControl">
                                <div class="form-group addItemStyle">
                                    <button type="button" 
                                        (click)="addItem()" 
                                        class="btn btn-success">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    &nbsp;
                                    <span class="addItemTextStyle">Add New Grocery Item Here!</span>
                                </div>
                            </div>
                        </div> 
                      
                    </div>
                </form>
            </div>        
        </div>
    </div>
</div>
<p></p>
<div class="groceryListContainer">
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-block " 
                (click)="saveMyList()">
                <i class="fa fa-save"></i>
                &nbsp;&nbsp;<b>Save My List!</b>
            </button>
            <div *ngIf="apiResponse">
                <span [style.color]="responseColor">
                    <span class="apiResponseStyle">
                        {{apiResponse}}
                    </span>
                </span>
            </div>
        </div>
        <div class="col-sm-9">
            <ul>
                <li>
                    Do Check To Add Item To Your Grocery List
                </li>
                <li>
                    Undo Check To Remove Item (Or) Bought Item From Your Grocery List
                </li>
            </ul>
        </div>
    </div>
    <p></p>
    <hr />
    <p></p>
    <div class="row">
        <div class="col-sm-12">     
            <form [formGroup]="form"               
                novalidate>
                
                <div class="row">
                    <div class="col-sm-4">
                        <h3><u>Fruits</u></h3>
                        <div *ngFor="let data of groceryCollection; let i=index">
                            <span>
                                <label *ngIf="displayOrNot(data, 'Fruit')" class="itemStyle">
                                    <input type="checkbox" [checked]="data.selected" [value]="data.name"
                                        (change)="onCheckboxChange($event, data)" />
                                    {{data.name}}
                                </label>
                            </span>
                        </div>
                        
                        <p></p>
                        <h3><u>Frozen</u></h3>
                        <div *ngFor="let data of groceryCollection; let i=index">
                            <span>
                                <label *ngIf="displayOrNot(data, 'Frozen')" class="itemStyle">
                                    <input type="checkbox" [checked]="data.selected" [value]="data.name"
                                        (change)="onCheckboxChange($event, data)" />
                                    {{data.name}}
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h3><u>Vegitables</u></h3>
                        <div *ngFor="let data of groceryCollection; let i=index">
                            <span>
                                <label *ngIf="displayOrNot(data, 'Vegitables')" class="itemStyle">
                                    <input type="checkbox" [checked]="data.selected" [value]="data.name"
                                        (change)="onCheckboxChange($event, data)" />
                                    {{data.name}}
                                </label>
                            </span>
                        </div>
                        
                        <p></p>
                        <h3><u>Bakery</u></h3>
                        <div *ngFor="let data of groceryCollection; let i=index">
                            <span>
                                <label *ngIf="displayOrNot(data, 'Bakery')" class="itemStyle">
                                    <input type="checkbox" [checked]="data.selected" [value]="data.name"
                                        (change)="onCheckboxChange($event, data)" />
                                    {{data.name}}
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h3><u>Others</u></h3>
                        <div *ngFor="let data of groceryCollection; let i=index">
                            <span>
                                <label *ngIf="displayOrNot(data, 'Others')" class="itemStyle">
                                    <input type="checkbox" [checked]="data.selected" [value]="data.name"
                                        (change)="onCheckboxChange($event, data)" />
                                    {{data.name}}
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
             
            </form>
         
        </div>
    </div>
</div>
