.grocery-list {
  list-style: none;
  padding: 0;
}
.grocery-list li {
  margin-bottom: 0.5rem;
}
.grocery-list-item {
  display: flex;
  justify-content: space-between;
}


.groceryListHeader{
    background-color: lightgoldenrodyellow;   
   font-size: large;
    border-color: blue;
   border-style: dotted;
     border-radius: 10px;    
         text-align: center;
vertical-align: middle; 
padding-top: 20px;
padding-bottom: 20px;
}
.groceryListHeaderDetails{
    background-color: lightskyblue;   
   font-size: large;
    border-color: blue;
   border-style: solid;
     border-radius: 10px;    
vertical-align: middle; 
padding-top: 20px;
padding-bottom: 20px;
}
