.mainHeader {
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
    margin-top: -40px;
}

.componentHeader {
    background-color: lightyellow;
}
.noData {
    color: red;
    font-size: x-large;
}
.searchControl {
    width: 300px;
}

.userDiv {
    color : blue;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
