<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Create-Event</h3>
                    <p></p>
                    <div *ngIf="apiResponse">
                        <span [style.color]="responseColor">
                            {{apiResponse}}
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" 
                        (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Event-Date</label>
                            <input [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" type="text" placeholder="Start Run Time"
                                bsDatepicker formControlName="eventDateValue" class="form-control eventDate"
                                [ngClass]="{ 'is-invalid': submitted && f['eventDateValue'].errors }" />
                            <div *ngIf="submitted && f['eventDateValue'].errors" class="invalid-feedback">
                                <div *ngIf="f['eventDateValue'].errors['required']">
                                    Event Date is required
                                </div>
                            </div>
                            <p></p>
                            <label>Event-Time</label>
                            <ngb-timepicker 
                                class="form-control"
                                formControlName="eventTimeValue" 
                                [ngClass]="{ 'is-invalid': submitted && f['eventTimeValue'].errors }"
                                [(ngModel)]="eventTimeValue" 
                                [meridian]="meridian">
                            </ngb-timepicker>                          
                            <div *ngIf="submitted && f['eventTimeValue'].errors" class="invalid-feedback">
                                <div *ngIf="f['eventTimeValue'].errors['required']">Event Time is required</div>                             
                            </div>
                        </div>
                        <p></p>


                        <div class="form-group">
                            <button type="submit" 
                                class="btn btn-success">
                                Create Event
                            </button>
                            &nbsp;&nbsp;
                            <button type="button" 
                                (click)="onReset()"
                                class="btn btn-primary float-right">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>