<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <div class="card">
            <div class="card-header questionPanel">
                <div class="row">
                    <div class="col-sm-2">
                        <span class="timerDisplay">[ {{minutes}} : {{seconds}} ]</span>
                    </div>
                    <div class="col-sm-7">
                        [Q : {{questionNumber}}] {{number1}} {{operator}} {{number2}} = ___
                    </div>
                    <div class="col-sm-3 nextQuestionBtn">
                        <button type="button" (click)="nextQuestion()" class="btn btn-primary">
                            N . E . X . T
                        </button>
                    </div>
                </div>

            </div>
            <div class="card-body answerPanel">
                <div>
                    <div *ngIf="1==location">
                        <div class="questionOption">
                            <span>
                                <input name="question" type="radio" value={{value}}
                                    [checked]="getOptionValueForRightAnswer()" (change)="answerOptionChange($event)" />
                            </span>
                            <span>
                                {{value}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="1==wrongLocation1">
                        <div class="questionOption">
                            <span>
                                <input type="radio" name="question" value={{wrongAnswer1}}
                                    [checked]="getOptionValueForWrongAnswer1()" (change)="answerOptionChange($event)" />
                            </span>
                            <span>
                                {{wrongAnswer1}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="1==wrongLocation2">
                        <div class="questionOption">
                            <span>
                                <input type="radio" name="question" value={{wrongAnswer2}}
                                    [checked]="getOptionValueForWrongAnswer2()" (change)="answerOptionChange($event)" />
                            </span>
                            <span>
                                {{wrongAnswer2}}
                            </span>
                        </div>
                    </div>

                    <div *ngIf="2==location">
                        <div class="questionOption">
                            <span>
                                <input type="radio" name="question" (change)="answerOptionChange($event)"
                                    value={{value}} [checked]="getOptionValueForRightAnswer()" />
                            </span>
                            <span>
                                {{value}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="2==wrongLocation1">
                        <div class="questionOption">
                            <span>
                                <input type="radio" name="question" (change)="answerOptionChange($event)"
                                    value={{wrongAnswer1}} [checked]="getOptionValueForWrongAnswer1()" />
                            </span>
                            <span>
                                {{wrongAnswer1}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="2==wrongLocation2">
                        <div class="questionOption">
                            <span>
                                <input type="radio" name="question" (change)="answerOptionChange($event)"
                                    value={{wrongAnswer2}} [checked]="getOptionValueForWrongAnswer2()" />
                            </span>
                            <span>
                                {{wrongAnswer2}}
                            </span>
                        </div>
                    </div>

                    <div *ngIf="3==location">
                        <div class="questionOption">
                            <span>
                                <input type="radio" name="question" (change)="answerOptionChange($event)"
                                    value={{value}} [checked]="getOptionValueForRightAnswer()" />
                            </span>
                            <span>
                                {{value}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="3==wrongLocation1">
                        <div class="questionOption">
                            <span>
                                <input type="radio" name="question" (change)="answerOptionChange($event)"
                                    value={{wrongAnswer1}} [checked]="getOptionValueForWrongAnswer1()" />
                            </span>
                            <span>
                                {{wrongAnswer1}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="3==wrongLocation2">
                        <div class="questionOption">
                            <span>
                                <input type="radio" name="question" (change)="answerOptionChange($event)"
                                    value={{wrongAnswer2}} [checked]="getOptionValueForWrongAnswer2()" />
                            </span>
                            <span>
                                {{wrongAnswer2}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
