<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" 
            [routerLink]="['/home']">
            Kids-Utility
        </a>
        <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <!-- left align items -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">                  
                    <a class='nav-link' aria-current="page" 
                        [routerLink]="['/home']">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' aria-current="page" 
                        [routerLink]="['/my-grocery']">
                        My-Grocery
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#" 
                        id="navbarDropdownMenuLink" 
                        role="button" 
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Math-Test
                    </a>
                    <ul class="dropdown-menu" 
                        aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/addition-2by2']">
                                Addition[2]&nbsp;[2]
                            </a>
                        </li>         
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/addition-decimal']">
                                Addition[Decimal]
                            </a>
                        </li>
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/minus-2by2']">
                                Minus[2]&nbsp;[2]
                            </a>
                        </li>
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/minus-1by2']">
                                Minus[1]&nbsp;[2]
                            </a>
                        </li>
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/minus-decimal']">
                                Minus[Decimal]
                            </a>
                        </li>
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/multiply-2by2']">
                                Multiply[2]&nbsp;[2]
                            </a>
                        </li>
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/multiply-decimal']">
                                Multiply[Decimal]
                            </a>
                        </li>
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/division-2by1']">
                                Division[2]&nbsp;[1]
                            </a>
                        </li>
                    </ul>
                </li>   
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#" 
                        id="navbarDropdownMenuLink1" role="button" 
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Event-Mgt
                    </a>
                    <ul class="dropdown-menu" 
                        aria-labelledby="navbarDropdownMenuLink1">
                        <li>
                            <a class='nav-link dropdownItem' 
                                aria-current="page" 
                                [routerLink]="['/create-event']">
                                Create-Event
                            </a>
                        </li>            
                    </ul>
                </li>
            </ul>

            <!-- right align items -->
            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto">
                    <li *ngIf="!this._userService.isLoggedIn"
                        class="nav-item">
                        <a class='nav-link rightItem' aria-current="page" [routerLink]="['/signin']">
                            <span class="notSigninSpan">Signin</span>
                        </a>
                    </li>
                    <li *ngIf="!this._userService.isLoggedIn"
                        class="nav-item">
                        <a class='nav-link rightItem' aria-current="page" [routerLink]="['/register']">
                            <span class="notSigninSpan">Register</span>
                        </a>
                    </li>
                    <li *ngIf="this._userService.isLoggedIn"
                        class="nav-item">
                        <span class="userNameSpan">
                          {{userName}}
                        </span>
                        &nbsp;
                        <button class="btn btn-primary" 
                            (click)="logout()" 
                            type="button">Signout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>