.nextQuestionBtn {
    text-align: right;    
}

.test-name-header {
    background-color: lightgoldenrodyellow;
    font-size: x-large;
    border-color: brown;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-weight: bold;
}

.questionPanel {
    background-color: lightblue;
    font-size: large;
    font-weight: bold;
}
.answerPanel {
    background-color: lightgoldenrodyellow;
}
.questionOption{
    padding-left: 80px;
    padding-bottom: 5px;
}

.testResultTime {
    background-color: lightskyblue;
    font-size: large;
    border-color: blue;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}
.correctTotal {
    padding-left: 15px;
    padding-top: 15px;
    background-color: lightgreen;
    font-size: large;
    border-color: green;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}
.wrongTotal {
    padding-left: 15px;
    padding-top: 15px;
    background-color: lightcoral;
    font-size: large;
    border-color: red;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}


.correctResponse {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: lightgreen;
    font-size: medium;
    border-color: green;
    border-style: dotted;
    border-radius: 10px;
    margin-top: 15px;
}

.wrongResponse {
    padding-bottom: 15px;
    margin-top: 15px;
    padding-left: 15px;
    padding-top: 15px;

    background-color: lightcoral;
    font-size: large;
    border-color: red;
    border-style: dotted;
    border-radius: 10px;
}

.timerDisplay {
    color : red;
    background-color: lightgoldenrodyellow;
    font-size: x-large;
    padding: 6px;
}