.nextQuestionBtn {
    text-align: right;    
}

.test-name-header {
    background-color: lightgoldenrodyellow;
    font-size: x-large;
    border-color: brown;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-weight: bold;
}
